.post {
    .timeseries {
        font-size: .8rem;
        line-height: .8rem;
        color: $secondry;
    }
    .categories {
        color: $secondry;
    }
}

.post+.post {
    border-bottom: 1px solid $secondry;
}

.post+.post-paginate {
    border-bottom: 1px solid transparent;
}

.post:first-child {
    border-bottom: 1px solid $secondry;
}

.post:last-child {
    border-bottom: 1px solid transparent;
}